.cart-wrapper{
    background-color: rgba(255, 153, 0, 0.3);
    position: sticky;
    top:0px;
}
.sticky{
    position: sticky;
    top:0;
}
.cart-wrapper h3{
    text-align: center;
}
.cart-wrapper p{
    margin-left: 23px;
}
.cart-wrapper button{
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border:none;
    color: white;
    border-radius: 4px;
    padding: 15px 0px;
}
.clear{
    background-color: #FF3030;
}
.clear:hover{
    background-color: #b10000;
}
.review{
    background-color: #FF9900;
}
.review:hover{
    background-color: #e08700;
}